.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.15em;
  color: black;
  display: inline-block;
  border-radius: 5px;
  background-color: #d0d4ed;
  cursor: pointer; 
  transition: 0.1s;
  width: 180px;
  text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #7986cb;
  border-radius: 5px;
}

.new_line {
  white-space: pre-line;
}